{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<header>
<h1><a href="{{ SITEURL }}" id="site-title"> {# {{ SITENAME }} #} </a> {#:#} <a href="{{ SITEURL }}/{{ INDEX_SAVE_AS }}" id="page-title">Content Index</a></h1>
</header>

<div id="back">
  <a href="{{ SITEURL }}">Return to Launch Page</a>
</div>

{% if articles %}
    {% set article_list = articles_page.object_list if articles_page else articles %}
    <section id="article-list">
        <h2>All content</h2>
        {% for article in article_list %}
        <article class="post-summary">
            <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h3>
            {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
            <div class="summary">{{ article.summary }}</div>
            <a class="read-more" href="{{ SITEURL }}/{{ article.url }}">Read more &raquo;</a>
        </article>
        {% endfor %}
    </section><!-- #article-list -->
    {% include 'pagination.html' %}

{% else %}
    <p>There are no articles yet. Why not write something nice?</p>
{% endif %}
{% endblock content %}
